<nav class="navbar navbar-expand-lg background sticky-top">
  <a class="navbar-brand text-color" href="#">MINDOOT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon icon-color"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-color" href="#">HOME</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-color" href="#">ABOUT</a>
      </li> -->
      <!-- <li class="nav-item ">
        <a class="nav-link dropdown-toggle text-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">CATEGORIES</a>
        <div class="dropdown-menu container-fluid ddm" aria-labelledby="navbarDropdown" style="width:100%">
          <div class="container ">
            <div class="row ">
              <div class="col-12 item ddm mt-5">
                <h1>CATEGORIES</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12 item">
                <h3>FOOD</h3>
      <li>11</li>
      <li>l2</li>
      <li>l3</li>
  </div>

  <div class="col-3  item">Item 2</div>
  <div class="col-3  item">Item 3</div>
  <div class="col-3  item">Item 4</div>
  </div>
  </div>
  </div>
  </li> -->
  </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-5">
        <p>&copy; 2023 Mindoot</p>
      </div>
      <div class="col-md-6 mt-5 text-md-right">
        <a href="#" class="fa fa-youtube" style="font-size:40px;color:red"></a>
        <a href="#" class="fa fa-facebook" style="font-size:40px;color:rgb(21, 6, 98)"></a>
        <a href="#" class="fa fa-instagram" style="font-size:40px;color:rgba(72, 3, 97, 0.726)"></a>
      </div>
    </div>
  </div>
</footer>